/* Reset básico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    background-color: #1F2937;
    color: white;
}

img{
    max-width: 100%;
    display: block;
}

/* Navigation bar */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 40px;
}

nav {
    display: flex;
    gap: 15px;
}

nav > a {
    text-decoration: none;
    color: #F9FAF8;
}

/* First section */

#first-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 40px;
    gap: 20px;
}

/* Button */

#first-section > #info > a {
    display: inline-block;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

/* Image div */

#first-section > #image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 50%;
    height: 200px;
}

/* Middle section */

#middle-section {
    background-color: white;
    color: black;
    padding: 50px 0px;
}

#middle-section > h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

#middle-div {
    display: flex;
    justify-content: space-evenly;
}

#middle-div > .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

#middle-div > .card > .square {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: #3882F6 solid 3px;
}

#middle-div > .card > sub {
    margin-top: 10px;
    text-align: center;
}

/* Quote section */

#quote-section {
    background-color: #E5E7EB;
    color: black;
    padding: 100px;
}

#quote-section > blockquote {
    font-size: 26px;
    font-style: italic;
    font-weight: 300;
}

#quote-section > blockquote > footer {
    text-align: end;
    font-weight: bold;
}

/* Final section */

#final-section {
    display: flex;
    padding: 50px 0px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#final-section > #container {

    background-color: #3882F6;
    width: 90%;
    height: 100px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
}

#final-section h3, #final-section p{
    margin: 0;
}

#final-section h3 {
    color: #F9FAF8;
}

#final-section p {
    color: #F9FAF8;
}

#final-section > #container > a {

    color: #F9FAF8;
    border-radius: 10px;
    border: #F9FAF8 solid 2px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

/* Footer */

#copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#copyright > p > a {
    color: #F9FAF8;
    text-decoration: none;
}

#copyright a:hover {
    color: #82e421;
}